%div.span-20.prepend-2
	%h1 ¿Dónde van mis impuestos... en mi región?
	%hr
	
	%h2.alt.prepend-2.span-16
		Lorem ipsum AbreDatos

	%hr.space
	
	%h3.span-2
	%h3.alt.span-8#region1-div{:style => "border-bottom: 8px solid rgb(237,194,64)"}
		Elige una comunidad autónoma...
		%select#region
			%option{:selected=>true} &nbsp;
			-@regions.each do |region|
				%option{:value=>"#{region.id}"} #{region.name}
	%h3.alt.span-8#region2-div{:style => "border-bottom: 8px solid rgb(175,216,248)"}
		&nbsp;...y compárala con otra
		%select#region2
			%option{:selected=>true} &nbsp;
			-@regions.each do |region|
				%option{:value=>"#{region.id}"} #{region.name}
	%hr.space

	%h4.alt.prepend-2.span-16
		NOTA: Cantidades nominales, no ajustadas a la inflación (todavía).
						
	%hr
	
	:javascript
		// Used to generate graphs dynamically vía app.js
		var policies = #{@policies.to_json};
		
		// FIXME: Hack!
		policies.unshift({"name":"TOTAL","id":"00"});
	
	#graphs.prepend-1

		%h2.alt.prepend-6.loud
			Estás viendo...
			%select#comparison_mode
				%option{:value=>"total"} Gasto total (miles de euros)
				%option{:selected=>true, :value=>"per_capita"} Gasto per cápita (euros)
				-- TODO %option{:value=>"share_total"} Porcentaje sobre gasto total
				%option{:value=>"population"} Población (censo INE)