%div.span-20.prepend-2
	%h1 ¿Dónde van mis impuestos... en mi región?
	%hr
	
	%h2.alt.prepend-2.span-16
		Lorem ipsum AbreDatos

	%hr.space
	
	%h3.span-2
	%h3.alt.span-8#region1-div{:style => "border-bottom: 8px solid rgb(237,194,64)"}
		Elige una comunidad autónoma...
		%select#region
			%option{:select=>true} &nbsp;
			-@regions.each do |region|
				%option{:value=>"#{region.id}"} #{region.name}
	%h3.alt.span-8#region2-div{:style => "border-bottom: 8px solid rgb(175,216,248)"}
		&nbsp;...y compara con otra
		%select#region2
			%option{:select=>true} &nbsp;
			-@regions.each do |region|
				%option{:value=>"#{region.id}"} #{region.name}
	%hr.space

	%h4.alt.prepend-2.span-16
		NOTA: Todas las cantidades en miles de euros. Cantidades nominales, no ajustadas a la inflación.
						
	%hr
	
	:javascript
		// Used to generate graphs dynamically vía app.js
		var policies = #{@policies.to_json};
		
		// FIXME: Hack!
		policies.unshift({"name":"TOTAL","id":"00"});

	#graph_legend
	
	#graphs.prepend-1
	
